.fieldset__1, .fielset__2 {
    border-bottom: solid 1px #d8d8d8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.fieldset__1--title, .fieldset__2--title {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 18px;
}

.fieldset__1--input {
    border: solid 1px;
    height: 30px;
    margin: 7px 0 20px;
    width: 50%;
}
  
.fieldset__1--icon {
    width: 21px;
    height: 18px;
}
.fieldset__1--iconArrow { 
    width: 16px;
    height: 18px;
}

.fieldset__1--legend, .fieldset__2--legend {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin: 20px 0 25px;
    width: 100%;
    cursor: pointer;
}

p {
    font-size: 1rem;
}
.main__header {
background-color: #FCB5AC;
padding: 10px;

}
.main__header--tittle{
    text-align: center;
}
body {
    background-color: #B5E5CF;
    font-family: monospace;
}

#wrapper {
    display: flex;
    flex-direction: column;
}
.main__sectionQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#main__sectionQuestion--textarea {
    width: 500px;
    height: 100px;
}

.submit-button{
    height: 48px;
    width: 176px;
    background-color: grey
}
.submit-button:hover {
    background-color: rosybrown
  }